.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-image: url('../public/weather1.jpg' );
  background-repeat: no-repeat;
}

.searchbar {
  width: 400px;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 0px 0px 13px 13px;
  padding: 5px;
  font-size: 14px;
  color: #333;
  background-color: #fff;
  outline: none;
  margin-right: 700px;
}

.searchbar:focus {
  border-color: #000;
  background-color: #eee;
}

.locationbox{
  color: white;
  margin-top: 8%;
  margin-right: 40%;
  font-family: 'Times New Roman', Times, serif;
  font-size: 50px;
  font-weight: 400;
}

.weatherbox{
  color: white;
  margin-top: 8%;
  margin-right: 40%;
  font-size: 50px;
}
  

